services:
  mssql:
    image: orzg/mssql-learnsite:latest
    container_name: mssql
    network_mode: host
    volumes:
      - ./data:/var/opt/mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Password123
      - MSSQL_PID=Developer
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 4g