services:
  web:
    build: .
    container_name: learnsite
    network_mode: host  #如果端口9000被占用请注释掉这一行,并将宿主机端口改为其它端口
    ports:
      - "9000:9000"
    depends_on:
      - db
    volumes:
      - ./app:/app
    environment:
      - DB_HOST=172.17.0.1  # 数据库服务器的IP地址
      - DB_NAME=learnsite  # 创建的数据库名称
      - DB_USER=sa  # SQL Server数据库默认管理员账户
      - DB_PASSWORD=LearnSite!2025StrongPwd  # 创建的数据库密码（需和下面的环境变量MSSQL_SA_PASSWORD保持一致）
      - MONO_IOMAP=all
    command: xsp4 --port 9000 --nonstop --address 0.0.0.0
    restart: always

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=LearnSite!2025StrongPwd
      - MSSQL_PID=Express
    network_mode: host
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
      - ./sql:/sql_scripts

volumes:
  sql_data:
