mssql:
  image: mcr.microsoft.com/mssql/server:2025-latest
  container_name: mssql-ci
  entrypoint: /entrypoint.ci.sh
  environment:
    - ACCEPT_EULA=Y
    - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    - MSSQL_PID=Developer
  ports:
    - "1433:1433"
  volumes:
    - mssql_data:/var/opt/mssql
    - ./entrypoint.ci.sh:/entrypoint.ci.sh:ro
  restart: "no"