services:
  web:
    build: .
    container_name: learnsite
    network_mode: host
    ports:
      - "9000:9000"
    depends_on:
      - db
    volumes:
      - ./app:/app
    environment:
      - MONO_IOMAP=all
    command: xsp4 --port 9000 --nonstop --address 0.0.0.0
    restart: always

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=LearnSite!2025StrongPwd
      - MSSQL_PID=Express
    network_mode: host
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
      - ./sql:/sql_scripts

volumes:
  sql_data:
